form(method='post', action='/findStockById')
    label You currently has:
    input(type='text', readonly, name='current_money', value= transaction.attributes.currentMoney)
    hr
    -var n = 0
    each stock in transaction.attributes.stocksInHand
        if stock.share != "0"
          tr
            td
              a(href='/getStockBySymbol/' + stock.symbol)= stock.symbol + " | "
            td= stock.share
            td
              button(onclick='window.location.href="/sellStockBySymbol/'+ stock.symbol + '"', value = Sell)
        else
          -n++
    if n==transaction.attributes.stocksInHand.length
      p You has no stocks right now
    br
    hr
    a(href='/listAllQuotes') Full Quote Query
    br
    select(name = "stock_id")
      each stock in stocks
        option(value= stock.id)= stock.attributes.Symbol + " || " + stock.attributes.Name
    input(type='submit', value='Submit')
