extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  a(href='/quote') demo to query one stock
  br
  a(href='/joingame') demo to join a game
  br
  a(href='/listAllQuotes') list all quote