form(method='post', action='/quote')
    input(type='radio', name='stockname', value='YHOO')
    | YAHOO
    br
    input(type='radio', name='stockname', value='AAPL')
    | AAPL
    br
    input(type='radio', name='stockname', value='GOOG')
    | GOOGLE
    br
    input(type='radio', name='stockname', value='MSFT')
    | Microsoft
    br
    input(type='submit', value='Submit')